/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2025, 12:47:13 PM
    Author     : dayahn
*/
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: center;
      align-items: center;
      min-height: 100vh;
      text-align: center;
      background-image: url("https://i.pinimg.com/564x/9f/66/43/9f664336e64cd7a346f42daa9cb51e19.jpg");
      background-size: contain; /* Scales image to cover the whole page */
      background-position: center center; /* Center the image */
      background-repeat: no-repeat; /* Prevents repeating */
 
      
    }
    .container {
      font-family: Arial, sans-serif;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      width: auto;
      text-align: center;
      display: center;
      border-radius: 10px;
      margin: 50px;
      background-color: #f2f2f2;
      padding: 50px;
    }
    input[type=text] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 16px;
    }
    .rule {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .previous-rules {
      text-align: left;
      font-size: 14px;
      margin-top: 15px;
      color: #444;
    }
    .error {
      color: red;
      font-weight: bold;
      display: none;
      margin-top: 10px;
    }
    .success {
      font-size: 18px;
      font-weight: bold;
      color: green;
      display: none;
      margin-top: 20px;
    }
    
    .h2{
        text-align: center;
    }
    
    .h3{
        text-align: center;
    }
    
    .button {
       font-size: 16px;
        width: 80%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
   .button [type=submit]:hover {
        background-color: #45a049;
    }

